.tweetBox {
  padding-bottom: 10px;
  padding-right: 10px;
}

.tweetBox>form {
  display: flex;
  flex-direction: column;
}

.tweetBox__input {
  padding: 20px;
  display: flex;
  align-items: center;
}

.tweetBox__input>input {
  flex: 1;
  margin-left: 15px;
  font-size: 20px;
  border: none;
  margin-top: 0px;
}

.tweetBox__imageInput {
  border: none;
  padding: 5px 20px;
}

.imageIcon_tweetButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweetBox__tweetButton {
  background-color: #4285F4 !important;
  border: none !important;
  color: white !important;
  font-weight: 700 !important;
  text-transform: inherit !important;
  border-radius: 50px !important;
  width: 100px;
  height: 40px !important;
  margin-right: 20px !important;
}

.imageIcon {
  padding-left: 75px;
  font-size: 12px;
  cursor: pointer;
}

.imageInput {
  display: none;
}